    langchain
    python-dotenv  
    langchain-community
    faiss-cpu
    langchain_groq
    langchain_huggingface 
    fastapi
    uvicorn
    python-multipart
    sentence-transformers
    unstructured
    pytesseract
    unstructured[pdf]
    rank_bm25