    langchain
    python-dotenv  
    langchain-community
    faiss-cpu
    langchain_groq
    langchain_huggingface
    sentence_transformers 
    fastapi
    uvicorn
    python-multipart

